In [15]:
import pandas as pd
import numpy as np
import configparser
import sys
config = configparser.ConfigParser()
config.read("../../env.ini")
data_home = config['DEFAULT']['data_home']
output_dir = config['DEFAULT']['output_dir']
local_lib = config['DEFAULT']['local_lib']
sys.path.append(local_lib)

OHCO = ['speech_id','para_num', 'sent_num', 'token_num']
bags = dict(
        SENTS = OHCO[:3],
        PARAS = OHCO[:2],
        SPEECHES = OHCO[:1]
)
bag = 'PARAS'

In [20]:
CORPUS = pd.read_csv('CORPUS.csv', sep='|').set_index(OHCO)

In [21]:
BOW = CORPUS.groupby(bags[bag] + ['term_str']).term_str.count().to_frame('n')
BOW

                             n
speech_id para_num term_str
0         0        and       1
                   citizens  1
                   fellow    1
                   house     1
                   of        2
...                         ..
113       267      our       1
                   protect   1
                   thank     3
                   troops    1
                   you       4

[405332 rows x 1 columns]

In [22]:
BOW.to_csv('BOW.csv', sep=',')